$font-family: 'Noto Sans JP', serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-primary-25: #f5f6f7;
$color-primary-50: #eaecee;
$color-primary-100: #d5d8dc;
$color-primary-200: #abb2b9;
$color-primary-300: #808b96;
$color-primary-400: #566573;
$color-primary-500: #2c3e50;
$color-primary-600: #233240;
$color-primary-700: #1a2530;
$color-primary-800: #121920;
$color-primary-900: #090c10;

$color-gray-25: #f8f8f8;
$color-gray-50: #e9e9e9;
$color-gray-100: #d2d2d2;
$color-gray-200: #bcbcbc;
$color-gray-300: #a5a5a5;
$color-gray-400: #8f8f8f;
$color-gray-500: #787878;
$color-gray-600: #626262;
$color-gray-700: #4b4b4b;
$color-gray-800: #353535;
$color-gray-900: #1e1e1e;

$color-pink-25: #fef5f5;
$color-pink-50: #fef2f2;
$color-pink-100: #fde6e6;
$color-pink-200: #facdcd;
$color-pink-300: #f8b3b3;
$color-pink-400: #f59a9a;
$color-pink-500: #f38181;
$color-pink-600: #c26767;
$color-pink-700: #924d4d;
$color-pink-800: #613434;
$color-pink-900: #311a1a;

$color-yellow-25: #fffcf3;
$color-yellow-50: #fff8e6;
$color-yellow-100: #fff1cc;
$color-yellow-200: #ffe399;
$color-yellow-300: #ffd666;
$color-yellow-400: #ffc833;
$color-yellow-500: #ffba00;
$color-yellow-600: #cc9500;
$color-yellow-700: #997000;
$color-yellow-800: #664a00;
$color-yellow-900: #332500;

$color-orange-25: #fef9f5;
$color-orange-50: #fdf2ea;
$color-orange-100: #fbe5d4;
$color-orange-200: #f8cca9;
$color-orange-300: #f4b27e;
$color-orange-400: #f19953;
$color-orange-500: #ed7f28;
$color-orange-600: #be6620;
$color-orange-700: #8e4c18;
$color-orange-800: #5f3310;
$color-orange-900: #2f1908;

$color-red-25: #fff3f3;
$color-red-50: #ffe6e6;
$color-red-100: #fcc;
$color-red-200: #f99;
$color-red-300: #f66;
$color-red-400: #f33;
$color-red-500: #f00;
$color-red-600: #c00;
$color-red-700: #900;
$color-red-800: #600;
$color-red-900: #300;

$color-green-25: #f6fdf5;
$color-green-50: #edfaeb;
$color-green-100: #daf4d8;
$color-green-200: #b5e9b0;
$color-green-300: #90df89;
$color-green-400: #6bd461;
$color-green-500: #46c93a;
$color-green-600: #38a12e;
$color-green-700: #2a7923;
$color-green-800: #1c5017;
$color-green-900: #0e280c;

$color-blue-25: #f5f6f7;
$color-blue-50: #e8efff;
$color-blue-100: #d1deff;
$color-blue-200: #a3beff;
$color-blue-300: #769dff;
$color-blue-400: #487dff;
$color-blue-500: #1a5cff;
$color-blue-600: #154acc;
$color-blue-700: #103799;
$color-blue-800: #0a2566;
$color-blue-900: #051233;

$color-purple-25: #f9f5ff;
$color-purple-50: #f2ebff;
$color-purple-100: #e5d6ff;
$color-purple-200: #cbadff;
$color-purple-300: #b185ff;
$color-purple-400: #975cff;
$color-purple-500: #7d33ff;
$color-purple-600: #6429cc;
$color-purple-700: #4b1f99;
$color-purple-800: #321466;
$color-purple-900: #190a33;

$aside-width: 280px;
